.abcdefg {
  width: 10px;
}

.test-test {
  border: 0.5px solid red;
  color: #bada55;
}

section.test-test {
  border: 0.5px solid red;
  color: #bada55;
}

header.test-test {
  border: 0.5px solid red;
  color: #bada55;
}
